{% extends 'base.html.twig' %}

{% block title %}Accueil - Talaria{% endblock %}

{% block body %}
<div class="container">
    <h1>Bienvenue sur Talaria</h1>

    {% if user %}
        <p>Bonjour {{ user.mail }}</p>

        <a href="{{ path('app_dashboard') }}"
           style="padding:8px 12px; background:#3498db; color:white; border-radius:4px;">
            Dashboard
        </a>

        <a href="{{ path('app_logout') }}"
           style="padding:8px 12px; background:#e74c3c; color:white; border-radius:4px;">
            Déconnexion
        </a>

    {% else %}
        <a href="{{ path('app_register') }}"
           style="padding:8px 12px; background:#2ecc71; color:white; border-radius:4px;">
            S'inscrire
        </a>

        <a href="{{ path('app_login') }}"
           style="padding:8px 12px; background:#3498db; color:white; border-radius:4px;">
            Se connecter
        </a>
    {% endif %}

</div>
{% endblock %}
